* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #67e8f9;
    height: 100vh;;
}

.menu {
    display: flex;
    width: 100%;
    background-color: #0ea5e9;
    overflow: hidden;
}


nav ul {
    display: flex;
    margin-left: 15px;
    width: 100%;
    align-items: center;
    flex-direction: row; 
    height: 100%;
}

nav ul li {
    display: flex;
    padding: 30px 15px;
    justify-content: space-evenly;
    align-items: center;
}

nav ul a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;

}

.coffee a img{
    width: 150px;
    height: 40px;
    padding: 10px;
}

.menu ul li img {
    height: 25px;
    width: 30px;

}

.elm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 950px);
    border: 2px, solid, black;
    border-radius: 10px;
    margin: 10px;
    background-color: #bae6fd;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.elm h3, h4, p {
    text-align: justify;
    width: fit-content;
    padding: 10px;
}

p {
    font-family: Arial;
}

h1 {
    text-align: center;
    margin: 20px 0px;
}

.elm h2 {
    background-color: #51e2f5;
    font-size: 16px;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: auto;
}

.elm .img1 {
    display: flex;
    height: 200px;
    width: 100%;
    position: relative;
}

button {
    background-color: #0ea5e9;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
}

button:hover, button:active {
    background-color: white;
    font-size: 120%;
    cursor: pointer;
}

.art {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* Footer */

.footer {
    display: flex;
    width: 100%;
    top: 100%;
}

.footer ul {
    background-color: #0ea5e9;
    display: flex;
    flex-direction: column;  
    width: 100%;
    
}

.footer ul li {
    display: flex;
    padding: 5px 20px;
}

.footer ul li img {
    height: 30px;
    width: 30px;
}

/*Reviews*/

.rdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.reviews {
    display: flex;
    width: 80%;
    height: 300px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0d9488;
    border: 5px, solid, red;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

